.farm-pedigree {
  text-align: center;
}
.farm-pedigree svg {
  margin-top: 5px;
  border: 1px solid #aaa;
}
.farm-pedigree .person rect {
  fill: #fff;
  stroke: grey;
  stroke-width: 1px;
}
.farm-pedigree .person rect.male {
  fill: #3EA9D9;
}
.farm-pedigree .person rect.female {
  fill: #EC95FD;
}
.farm-pedigree .person {
  font: 14px sans-serif;
  cursor: pointer;
}
.farm-pedigree .link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}
